   @import "tailwindcss";

/* .header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
   
}
.logo{
    width: 200px;
}
.nav-items>ul{
    display: flex;
    list-style-type: none;
    font-size: 24px;
}
.nav-items>ul>li{
    padding: 10px;
    margin: 10px;
}
.nav-items{
    padding: 0px 20px;

}

.res-card{
    width:200px;
    
    padding:5px;
    margin:10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    
    }

.res-card>img{
    height:150px;
    width:100%;
    border-radius: 5px;
   
    }

.search{
    padding: 10px;
}

.filter-btn{
    margin:10px;
    padding:10px;
    cursor: pointer;
    margin-left: 40px;
    
}

.filter{
    display: flex;
    align-items: center;
}
.filter-btn:hover {
    background-color: #888685;
}

.res-logo{
    width:100%;
    
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
   transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.res-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap: 10px;

}

.shimmer-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap: 10px;
}

.shimmer-card{
    margin:20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}

.login-btn{
    padding:10px 20px;
    font-size:16px;
    cursor: pointer;
    height: 40px;
    margin-top: 17px;
}

 .user-card{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: auto;
} */